[submodule "libs/styles"]
	path = libs/styles
	url = https://github.com/tty-pt/styles.git
[submodule "libs/scripts"]
	path = libs/scripts
	url = https://github.com/tty-pt/scripts.git
[submodule "libs/nd"]
	path = nd
	url = https://github.com/tty-pt/neverdark.git
[submodule "libs/sub"]
	path = libs/sub
	url = https://github.com/tty-pt/sub.git
[submodule "ndc"]
	path = ndc
	url = https://github.com/tty-pt/ndc.git
[submodule "nd"]
	url = https://github.com/tty-pt/neverdark.git
